.pf__Header-main {
  height: 100vh;
  z-index: 3;
  position: relative;
  overflow: hidden;

}
.pf__Header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pf__background-image {
  position: absolute;
  height: 100%;
}
.pf__Header-container::after {
  content: "";
  position: absolute;
  top: 7vh;
  right: 0;
  z-index: 0;
  width: 33vw;
  height: 93vh;
  background: #111111bd;
  mix-blend-mode: multiply;
  padding: 0 2rem 0 2rem;
}
.pf__Header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 95vh;
  width: 34vw;
  gap: 2rem;
  color: var(--color-white);
}
.pf__Header-container_heading {
  border-right: 0.2rem solid #fff;
  padding: 0 7% 0 0;
  margin-right: 15%;
  margin-top: 47vh;
  text-align: end;
  z-index: 1;
  font-size: clamp(1.2em, 1.6vw, 1.7em);
}
.pf__Header-container_viewprojects {
  display: flex;
  margin: auto 23% 3rem 0;
  align-items: center;
  font-size: 1.5em;
  gap: 0.7rem;
  z-index: 1;
  position: relative;
}
.pf__Header-container_viewprojects p {
  margin-right: 5rem;
  cursor: pointer;
  font-size: clamp(0.9em, 2vw, 1.15em);
  font-family: var(--font-family-1);
}
.pf__Header-container_viewprojects p::after {
  background-color: #fff;
  content: " ";
  display: block;
  height: 2px;
  width: 7rem;
  position: absolute;
  top: 50%;
  right: -15%;
}

.pf__Header-container h1 {
  line-height: 0.8em;
  font-family: var(--font-family-5);
  font-weight: 300;
  font-size: 2.5em;
  margin-bottom: 0.3rem;
}

.pf__Header-container h4 {
  font-family: var(--font-family-1);
}

.pf__Header-container_image {
  padding-right: 5rem;
  width: 95rem;
}

@media screen and (max-width: 900px) {
  .pf__Header-container::after {
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  .pf__Header {
    height: 100vh;
  }
  .pf__Header-container {
    justify-content: end;
  }
  .pf__Header-container_viewprojects {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .pf__Header-container_viewprojects p::after {
    display: none;
  }
  .pf__Header-container_viewprojects p {
    padding: 0;
    margin: 0;
  }
}
