.pf__About-container_main {
  display: flex;
  flex-direction: column;
  width: fit-content;
  font-family: var(--font-family-1);
  color: var(--color-white);
  background-color: rgba(80, 80, 80, 0.507);
  padding: 0 3rem;
}
.pf__About-container_side {
  display: flex;
  margin: 2.5rem 0rem 3rem 0rem;
  justify-content: flex-start;
}
.pf__About-container_image {
  max-width: 15vw;
  max-height: 30vh;
  margin: 1rem 3rem;
}
.pf__About-container_side-text {
  display: flex;
  flex-direction: column;
  width: 49vw;
  font-size: 1.2em;
}
.pf__About-container_side-text h2 {
  margin-bottom: 1rem;
  color: #dab200;
}
.pf__About-container_side-info_inline {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: left;
}
.pf__About-container_side-info_inline span {
  display: flex;
}
.pf__About-container_side-info {
  display: flex;
  gap: 8rem;
  justify-content: left;
  align-items: center;
  margin: 1.8rem 0;
}
.pf__About-container_feature-skills {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 17rem);
  gap: 1.5rem 3rem;
  margin: 3rem 3rem;
}
.pf__About-container_feature-skills p {
  font-size: 1.3rem;
}
