.Pf__Navbar-containers {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  min-height: 4.5rem;
  gap: 3.5rem;
  font-family: var(--font-family-3);
  font-size: 1.2em;
  width: 100vw;
  color: var(--color-white);
  background-color: rgba(10, 10, 10, 0.418);
  padding: 1.6rem;
  box-shadow: #35353566 -4px 6px 13px 4px;
  -moz-box-shadow: #35353566 -4px 6px 13px 4px;
  -webkit-box-shadow: #35353566 -4px 6px 13px 4px;
}
.pf__Navbar-link {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.pf__Navbar-link::after {
  content: "";
  margin-bottom: -0.3rem;
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #daa700;
  transform-origin: bottom right;
  transition: all 0.3s ease-out;
}
.pf__Navbar-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.pf__Navbar-link-active {
  position: relative;
}
.pf__Navbar-link-active::after {
  content: "";
  margin-bottom: -0.3rem;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #daa700;
}
.Pf__Navbar-menu {
  display: none;
  position: absolute;
  left: 85vw;
  z-index: 99;
  padding-top: 2rem;
}
.Pf__Navbar-menu_container-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: fit-content;
  top: 2rem;
  right: 6vw;
  line-height: 2rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #daa700;
  font-weight: 900;
  color: #000;
}
.Pf__Navbar_containers-logo {
  position: absolute;

  left: 5rem;
}
@media screen and (max-width: 900px) {
  .Pf__Navbar-containers {
    display: none;
  }

  .Pf__Navbar {
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 1.1rem;
  }
  .Pf__Navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 450px) {
  .Pf__Navbar-menu_container-links {
    right: 9vw;
  }
}
