.smf__Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  opacity: 0;
  background-blend-mode: multiply;
  color: var(--color-white);
  position: absolute;
  z-index: 99;
  background-color: rgba(10, 10, 10, 0.418);
  padding: 1rem;
  box-shadow: rgba(10, 10, 10, 0.4) -4px 6px 13px 4px;
  -moz-box-shadow: rgba(10, 10, 10, 0.4) -4px 6px 13px 4px;
  -webkit-box-shadow: rgba(10, 10, 10, 0.4) -4px 6  px 13px 4px;
}
.smf__Navbar-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
  padding: 0.5rem;
  font-weight: 700;
  font-family: var(--font-family-3);
  font-size: 1.1em;
}
.smf__Navbar-containers a {
  display: inline-block;
  position: relative;
}
.smf__Navbar-containers a::after {
  content: "";
  margin-bottom: -0.3rem;
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #daa700;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}
.smf__Navbar-containers a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.smf__Navbar-menu {
  display: none;
  position: relative;
  margin: 0.3rem 2rem;
}
.smf__Navbar-menu_container-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: fit-content;
  top: 1rem;
  line-height: 2rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #daa700b0;
  font-weight: 900;
  color: #000;
}
.smf__Navbar_containers-logo {
  position: absolute;
  left: 5rem;
}
@media screen and (max-width: 800px) {
  .smf__Navbar-containers {
    display: none;
  }
  .smf__Navbar {
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 1.1rem;
  }
  .smf__Navbar-menu {
    display: flex;
  }
}
