.pf__contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2b2b2b;
  width: 60vw;
  height: fit-content ;
  font-family: var(--font-family-1);
  color: var(--color-white);
  padding: 0 4rem 3rem 4rem;
  z-index: 9999;
  position: absolute;
  top: 7vh;
  left: 20vw;
  box-shadow: rgba(0, 0, 0, 0.3) -4px 6px 13px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) -4px 6px 13px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) -4px 6px 13px 4px;
}
.pf__popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #00000099;
	z-index: 1000;
}

.pf__contact-container-info {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 25vw);
  gap: 1.3rem 2.5rem;
  flex: 1;
  margin: 3rem 0 2.5rem 0;
}
.pf__contact-form form {
  padding: 1rem 1rem;
  width: inherit;
  font-size: 1.1em;
  color: #ffeeca;
  font-weight: 800;
  letter-spacing: 0.12rem;
}
.pf__Contact-content_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) -4px 6px 13px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) -4px 6px 13px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) -4px 6px 13px 4px;
}
.pf__Contact-content_form-title {
  margin-bottom: 1.6rem;
}
.pf__Contact-content_info-txt {
  letter-spacing: 0.04rem;
  overflow: hidden;
  word-wrap: break-word;
}
.pf__Contact-content_form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
  padding-bottom: 2rem;
}
.pf__Contact-content_form-container_label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-size: 0.9em;
  letter-spacing: 0.07rem;
  color: #ffeecad2;
}
.pf__Contact-content_form-container_label input {
  width: 100%;
  height: 1.5rem;
  background-color: transparent;
  color: #dddddd;
  font-size: 1.3em;
  padding: 0.9rem 0;
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
}
.pf__Contact-content_form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 14.5rem;
  height: 3.4rem;
  font-size: 0.75em;
  letter-spacing: 0.11rem;
  background: transparent;
  margin-bottom: 0.5rem;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 4px 5px 12px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 4px 5px 12px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 4px 5px 12px 4px;
  color: #ffeeca;
}
.pf__Contact-content_form-button:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  color: #daa700;
}
.pf__Contact-message {
  width: 80%;
  height: 3.4rem;
  font-size: large;
}
@media screen and (max-width: 1400px) {
  .pf__contact-container-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .pf__contact-container {
    padding: 1rem;
    width: 80vw;
    top:3rem;
    left:10vw;
  }
}
@media screen and (max-width: 400px) {
  .pf__contact-container {
    padding: 0.5rem;
    width: 90vw;
   left: 5vw;
  }
}