.pf__contact-container {
  background-color: rgba(80, 80, 80, 0.507);
  max-width: fit-content;
  height: fit-content;
  font-family: var(--font-family-1);
  color: var(--color-white);
  padding: 0 3rem 8rem 3rem;
}
.pf__contact-container-info {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 37rem);
  gap: 1.5rem 3rem;
  flex: 1;
  margin: 3rem 0 3rem 0;
}
.pf__contact-container-separator {
  padding: 0 3rem;
}
.pf__contact-form form {
  padding: 2rem 3rem;
  width: inherit;
  font-size: 1.3em;
  color: #ffeeca;
  font-weight: 800;
  letter-spacing: 0.12rem;
}
.pf__Contact-content_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.6rem;
  width: 32rem;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.3) -4px 6px 13px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) -4px 6px 13px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) -4px 6px 13px 4px;
}
.pf__Contact-content_form-title {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}


.pf__Contact-content_info-txt {
  
  letter-spacing: 0.04rem;
}
.pf__Contact-content_form-container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 85%;
  padding-bottom: 1.4rem;
}
.pf__Contact-content_form-container_label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.15rem;
  width: 100%;
  font-size: 0.9em;
  letter-spacing: 0.07rem;
  color: #ffeecad2;
}

.pf__Contact-content_form-container_label input {
  width: 100%;
  height: 1.5rem;
  background-color: transparent;
  color: #dddddd;
  font-size: 1.3em;
  padding: 1rem 0;
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
}
.pf__Contact-content_form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 14.5rem;
  height: 3.4rem;
  font-size: 0.75em;
  letter-spacing: 0.11rem;
  background: transparent;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 4px 5px 12px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 4px 5px 12px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 4px 5px 12px 4px;
  color: #ffeeca;
}
.pf__Contact-content_form-button:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  color: #daa700;
}
.pf__Contact-message {
  width: 80%;
  height: 3.4rem;
  font-size: large;
}
