.pf__Feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffeeca;
  padding: 2rem;
  gap: 1rem;
  border-radius: 2rem;
}
.pf__Feature p {
  text-align: center;
  font-size: 1.1rem;
  color: #eeeeee;
}
.pf__Feature-title {
  font-size: 1.2rem;
  color: #ffeeca;
  text-align: center;
}
.row {
  flex-direction: row;
  border-radius: 0;
  color: #ffeeca;
  border: none;
  font-family: var(--font-family-3);
  box-shadow: rgba(199, 199, 199, 0.3) -2px 1px 11px 4px;
  -moz-box-shadow: rgba(199, 199, 199, 0.3) -2px 1px 11px 4px;
  -webkit-box-shadow: rgba(199, 199, 199, 0.3) -2px 1px 11px 4px;
  background-color: transparent;
}
.row:hover {
  background-color: #66615871;
}
@media screen and (max-width: 700px) {
  .pf__Feature {
    gap: 0.5rem;
  }
}
