* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family-1);
}
body {
  overflow-x: hidden;
  background: var(--color-gradient);
}
a {
  color: unset;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-gradient);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background-color: #b80000;
  border-radius: 25px;
}
.gradient__bg {
  background: rgb(253, 251, 251);
  background: -moz-radial-gradient(
    circle,
    rgba(253, 251, 251, 1) 0%,
    rgba(235, 237, 238, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(253, 251, 251, 1) 0%,
    rgba(235, 237, 238, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(253, 251, 251, 1) 0%,
    rgba(235, 237, 238, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdfbfb",endColorstr="#ebedee",GradientType=1);
}
.solid__bg {
  background-color: var(--color-white);
}
