* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-image: url("../src/assets/pict2.jpg");
  background-size: 100vw 100vh;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 4em;
  font-family: var(--font-family-5);
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
.loading p {
  margin-top: -2.2rem;
}
a {
  color: unset;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
  background: #202020;
}
::-webkit-scrollbar-track {
  background: #404040;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background-color: #daa700b6;
  border-radius: 25px;
}
.gradient__bg {
  background: rgb(253, 251, 251);
  background: -moz-radial-gradient(
    circle,
    rgba(253, 251, 251, 1) 0%,
    rgba(235, 237, 238, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(253, 251, 251, 1) 0%,
    rgba(235, 237, 238, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(253, 251, 251, 1) 0%,
    rgba(235, 237, 238, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdfbfb",endColorstr="#ebedee",GradientType=1);
}
.solid__bg {
  background-color: var(--color-white);
}
