* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #03030393;
  z-index: 1;
}
body {
  overflow-x: hidden;
  background-image: url("../src/assets/pict2.jpg");
  background-size: cover;
  height: 100vh;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 4em;
  font-family: var(--font-family-5);
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
.loading p {
  margin-top: -2.2rem;
}
a {
  color: unset;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
  background: #202020;
}
::-webkit-scrollbar-track {
  background: #404040;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background-color: #daa700b6;
  border-radius: 25px;
}
