.pf__Socials-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 0.7rem;
  padding:0;
}
.pf__Socials-link {
  cursor: pointer;
  z-index: 1;
  color: var(--color-white);
}
.pf__Socials-link:hover {
  transform: scale(1.1);
  transition-duration: 0.25s;
  color: #daa700;
}
.pf__Socials-contact-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap:2rem; 
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
}
