.pf__Services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-white);
  width: 100vw;
}
.pf__Services-container_features {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 19vw);
  gap: 1rem;
  margin: 3rem 3rem 1.5rem 3rem;
}
@media screen and (max-width: 1000px) {
  .pf__Services-container_features {
    grid-template: repeat(3, 1fr) / repeat(3, 26vw);
  }
}
@media screen and (max-width: 800px) {
  .pf__Services-container_features {
    grid-template: repeat(3, 1fr) / repeat(2, 40vw);
  }
}

@media screen and (max-width: 500px) {
  .pf__Services-container_features {
    grid-template: repeat(3, 1fr) / repeat(1, 70vw);
  }
}
