.pf__contact-container {
  
  background-color: rgba(80, 80, 80, 0.507);
  max-width: fit-content;
  font-family: var(--font-family-1);
  color: var(--color-white);
  padding: 0 3rem;
}

.pf__contact-container-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.pf__contact-container-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 50vh;
}
.pf__contact-container-info div {
  background-color: #272727;
  padding: 0.5rem;
  text-align: center;
}
.pf__contact-form form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
}

.smf_popup-content_form-sent {
  text-align: center;
  font-family: var(--font-family-3);
}
.smf__popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 55vw;
  height: fit-content;
  padding: 2.5rem 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f2f2f2;
  border-radius: 50px;
  z-index: 1000;
}
.smf__popup-content h2 {
  text-align: center;
  color: #272727;
  font-weight: 600;
  font-size: 32px;
  padding-bottom: 2.5rem;
  font-family: var(--font-family-3);
}
.smf__popup-closeBtn {
  position: absolute;
  right: 4%;
  top: 4%;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
.smf__popup-closeImg {
  width: 45px;
  height: 45px;
}
.smf__popup-content_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}
.pf__contact-form_inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40vw;
  height: 50vh;
  background-color: #272727;
}
.smf__popup-content_inputs input:focus,
textarea:focus {
  transition: 0.3s ease-out;
  transform: scale(1.02, 1);
}
.smf__popup-content_inputs input,
.smf__popup-content_inputs textarea {
  height: 4rem;
  width: 100%;
  line-height: 1.2;
  border-radius: 31px;
  padding: 15px;
  outline: none;
  border: none;
  background-color: var(--color-white);
  color: #63636e;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: var(--font-family-3);
}
.smf__popup-content_inputs input:focus::placeholder,
.smf__popup-content_inputs textarea:focus::placeholder {
  color: transparent;
}
.smf__popup-content_inputs textarea {
  text-align: start;
  height: 20rem;
  cursor: auto;
  resize: none;
}
.smf__popup-content_inputs input::placeholder,
.smf__popup-content_inputs textarea::placeholder {
  color: #8f8fa1ce;
  font-weight: bold;
  text-align: center;
}
.smf__popup-sendBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 8rem;
  height: 3rem;
  border-radius: 31px;
  padding: 1rem 5rem;
  color: var(--color-white);
  background-color: var(--color-red);
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-family: var(--font-family-3);
  margin-top: 1rem;
}
.smf__popup-sendBtn:hover {
  transition: 0.3s ease-out;
  transform: scale(1.02, 1);
}
.smf__popup-paperPlane {
  width: 1.1rem;
}
